{% extends "blog/base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Llista d'Autors</h2>
    <table class="table table-bordered">
        <thead class="table-light">
            <tr>
                <th>Nom</th>
                <th>Cognom</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for author in authors %}
            <tr>
                <td>{{ author.first_name }}</td>
                <td>{{ author.last_name }}</td>
                <td>
                    <a href="{% url 'author_detail' author.id %}" class="btn btn-primary btn-sm">saber-ne +</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
